{% extends "main.html" %}

{% block title %} Polar Registration{% endblock %}
{% block header %}Agent Info{% endblock %}
{% block content %}
    <form action="/agentinfo" method="post" >
      {% csrf_token %}
            {{ form }}
        <input type="submit" value="add" />
</form>
        <table>
            {% for agent in agentinfo %}
                <tr><td>{{ agent.first_name }}</td><td>{{ agent.last_name }}</td></tr>
            {% endfor %}
        </table>
{% endblock %}